.MenuModal-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #C0C0C0;
  height: 60vh;
  width: 70%;
  position: fixed;
  bottom: 5rem;
  overflow: scroll;
  left: 15%;
  right: 15%;
  border-radius: 1rem;

}


/* .MenuModal-container{
  overflow: scroll;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
  background-color: #C0C0C0;
  opacity: 0.95;
  border-radius: 0;
  padding: 2rem;
} */


.MenuModal-category{
margin: .75rem;
cursor: pointer;
transition: all .2s ease-in-out;
font-weight: bold;
}

.MenuModal-category:hover{
transform: scale(1.2);
text-decoration: underline;
}
