.CategoryCard-container {
  height: 5.5rem;
  width: 5.5rem;
  background-color: gray;
  margin: 0.25rem 0.25rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: -2px 10px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 10px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 10px 5px -6px rgba(0, 0, 0, 0.75);
}

.CategoryCard-container:hover {
  transform: scale(115%);
}

.CategoryCard-name {
  font-size: 0.5rem;
  font-size: .65rem;

}

.CategoryCard-emoji {
  font-size: 2rem;
}
