.Content-container{
  padding: 0;
  width: 100%;
  //height: 75vh;
  height: calc(100vh - 115px - 115px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  margin: 0 auto;
  background-color: 	#DCDCDC;
}
