.SearchBar-button-background{
  margin: auto;
  background-color: lightblue;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  cursor: pointer;
  -webkit-box-shadow: -2px 10px 5px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 10px 5px -6px rgba(0,0,0,0.75);
  box-shadow: -2px 10px 5px -6px rgba(0,0,0,0.75);
}


.SearchBar-button-background:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.SearchBar-home-button{
  font-size: 1.5rem;
}
