
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'IBM Plex Mono', monospace;
}

body{
  margin: 0;
  padding: 0;
  overflow: none;
  box-sizing: border-box;

}

.App {
  text-align: center;
  /* display: flex;
  flex-direction: column; */
    display:grid;
  grid-template-rows:auto 1fr auto;
  grid-template-columns:100%;
   /* fallback height */
  min-height:80vh;
   /* new small viewport height for modern browsers */
  min-height:100svh;
}


.dissapear{
  display: none;
}


.main-content {
}
